.menu {
    margin: 3%;
    display: inline-block;
    vertical-align: 130%;
}
.logo {
    margin: 1%;
    display: inline-block;
    margin: 1%;
}
.heroImg {
    height: 300px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
    padding-top: 75px;
}
.about {
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}
.bio {
    padding-left: 7%;
}
footer {
    background-color: #b8b8b8;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 2%;
}
li {
    padding: 3%;
}
.flexContainer {
    display: flex;
}
.flexContainer div {
    width: 33%;
    padding: 0 0 3% 3%;
}
.workGrid {
    display: grid;
    grid-template-areas: 'item1 item2 item3'
    "item4";
}
.workGrid div {
    text-align: center;
    padding: 3%;
}
.item4 {
    grid-area: 2 / 1 / span 1 / span 3;
}

@media only screen and  (max-width: 700px){
    .flexContainer {
        flex-direction: column;
    }
    .flexContainer div {
        width: 300px;
    }
    .workGrid {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4"
        ;
    }
    .item4 {
        grid-area: 4 / 1 / span 1 / span 1;
    }
}